*{
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	display: inline;
}

p,li{
	font-size: large;
}

a{
	color:#0099cc;
	text-decoration:none;
}

#logo{
	width:75px;
	vertical-align: middle;
}

#goals{
	color: darkgreen;
}
