*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333333;
	color: azure;
}

h1{
	display: inline;
}

p,li{
	font-size: larger;
}

a{
	color:#0099cc;
	text-decoration:none;
}

hr{
	width: 75%;
}

td{
	text-align: center;
}

.grayBorder{
	border-style: solid;
	border-color: darkgray;
	border-width: 5px;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.graph{
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.goalImage{
	height: 40vh;

}

.goalText{
	display: block;
	width: 40vh;
}

#linkDiv{
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#table{
	border-spacing: 10px;
}

#header-div{
	display: flex;
	align-items: center;
}

#logo{
	width:100px;
	margin-left: -3px;
	margin-right: 15px;
}

#goals{
	color: lightgreen;
}