*{
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	display: inline;
}

p,li{
	font-size: larger;
}

a{
	color:#0099cc;
	text-decoration:none;
}

hr{
	width: 75%;
}

.grayBorder{
	border-style: solid;
	border-color: darkgray;
	border-width: 5px;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.graph{
	display:block;
	margin-left: auto;
	margin-right: auto;
}


#header-div{
	display: flex;
	align-items: center;
}

#logo{
	width:100px;
	margin-left: -3px;
	margin-right: 15px;
}

#goals{
	color: darkgreen;
}